.chatwrap{
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
	height: 600px;
	border:1px solid rgb(235,235,235);
	padding: 25px;
	background:rgb(255,255,255);
}
h3{
	text-indent: 20px;
	font-weight: 550;
	color:rgb(118,84,135);
	background:rgb(235,235,235);
}
h3 b{
	margin-right:15px;
}
h3 .person{
	font-size:14px;
}
h3 .num{
	margin-right:2px;
}
h3 .myself{
	float:right;
	color:rgb(0,155,219);
	margin-right: 25px;
}
h3 i{
	font-size:14px;
	font-weight:500;
	margin-right:5px;
	color:rgb(118,84,135);
}
h3 .name{
	font-size:18px;
	font-weight:500;
}
.msg{
	float: left;
	height: 100%;
	width: 64%;
	border:1px solid rgb(235,235,235);
}
.users{
	float:right;
	height: 100%;
	width: 30%;
	border:1px solid rgb(235,235,235);
	overflow:auto;
}
.users ul{
	padding:0 10px;
}
.users ul li{
	height: 20px;
	margin: 15px 0;
}

.msgList{
	padding:0 10px;
	height:70%;
	width:95%;
	border:1px solid rgb(235,235,235);
	border-right: none;
	overflow: auto;
}
.msgList p{	
	margin: 15px 0;
}
.msgList p img{
	display:inline-block;
}
#mesbox{
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	height: 90px;
	line-height: 25px;
	width: 85%;
	border:1px solid rgb(0,155,219);
	overflow:auto;
}
#mesbox img{
	margin:auto 0;
	height:25px;
	width: 25px;
	display:inline-block;
}
#send{
	float:left;
	height: 30px;
	line-height:30px;
	width: 10%;
	background: rgb(0,155,219);
	border:none;
	color: #fff;
	border-radius: 2px;
}
.msgbtn{
	height: 20%;
	width: 100%;
}
.msgbtn .tool{
	background:rgb(238,238,238);
	padding:0px 10px;
	margin-bottom: 10px;
	position:relative;
	z-index: 99;
}
.msgbtn .tool .emoji img{
	border:1px solid rgb(238,238,238);
}
.msgbtn .tool .face{
	position:absolute;
	left: 10px;
	bottom:0;
	width:65%;
	transform:translate(0,-32px);
	z-index: 100;
	border:1px solid rgb(238,238,238);
	display: none;
}
.msgbtn .tool .face img{
	float:left;
	height: 30px;
	width: 30px;
	border:1px solid rgb(238,238,238);
}
.msgbtn .tool .face img:hover{
	border:1px solid rgb(0,155,219);
}
.wrap,.wrap i{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index:1000;
}
.wrap i{
	background:rgba(5, 5, 5, .5);
}
.nickname{
	color:#fff;
	position:absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	z-index:10000;
}
.nickname #nickname{
	margin-top: 10px;
	float: left;
	margin-right: 10px;
	height: 30px;
	line-height:30px;
	font-size: 18px;
	border:none;
	color:#000;
}
.nickname #login{
	float:left;
	margin-top:10px;
	height: 30px;
	line-height:30px;
	width: 50px;
	background: rgb(0,155,219);
	border:none;
	color: #fff;
	border-radius: 2px;
}